body {
    font-family: 'Roboto', 'Arial';
    text-align: center;
}

.bordered {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.borderedCases {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    background-color: bisque;
}

.borderedCaseRewards {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    background-color: bisque;
}

#CasesBannerIntro {
    width: auto;
    height: 200px;
}

#ArrowIntro {
    width: auto;
    height: 225px;
}

.CaseOpenable {
    width: auto;
    height: 400px;
}

#FeverOpenButton {
    height: 50px;
    width: 100px;
}