body {
    font-family: 'Roboto', 'Arial';
    text-align: center;
    background-image: linear-gradient(135deg, rgb(225, 225, 225), rgb(200, 200, 200));
}

#LogoLink {
    position: absolute;
    image-rendering: crisp-edges;
    top: 5px;
    left: 5px;
    height: 125px;
    width: auto;
    animation: wobbleLogo 5s infinite;
}

#BannerIntro {
    width: 530px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.bordered {
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    background-image: linear-gradient(135deg, rgb(225, 215, 149), rgb(194, 142, 64));
}

.borderedCases {
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: bisque;
}

.borderedCaseRewards {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    background-color: bisque;
}

#CasesBannerIntro {
    width: auto;
    height: 200px;
}

#ArrowIntro {
    width: auto;
    height: 225px;
}

.CaseOpenable {
    width: auto;
    height: 400px;
    animation: wobbleCases 3s infinite alternate;
}

.imgHoverScale {
    transition: 0.3s;
}

.imgHoverScale:hover {
    transform: scale(1.05);
}

.CaseButton {
    transition-duration: 0.5s;
    border-radius: 10px;
}

.CaseButton:hover {
    background-color:cornflowerblue;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



#FeverOpenButton {
    height: 50px;
    width: 150px;
}

#RecoilOpenButton {
    height: 50px;
    width: 150px;
}

#DreamsNightmaresOpenButton {
    height: 50px;
    width: 150px;
}

#HuntsmanWeaponOpenButton {
    height: 50px;
    width: 150px;
}

#CSgoWeaponOpenButton {
    height: 50px;
    width: 150px;
}

#Katowice2014LegendsOpenButton {
    height: 50px;
    width: 150px;
}

.testimonialBox {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: bisque;
    width: 375px;
}

#testimonialText {
    font-size: 28px;
}

.FiveStarsImage {
    height: 50px;
    width: auto;
}

.solidDivider {
    background-color: black;
    height: 1px;
    width: 1000px;
    border: none;
}

#OhnePixelImage {
    width: auto;
    height: 250px;
    border-radius: 10px;
}

#GabenImage {
    width: auto;
    height: 250px;
    border-radius: 10px;
}

#GlobalCaseCounter {
    display: inline-block;
    animation: wobble 3s infinite alternate;
}

#GlobalPriceCounter {
    animation: wobble 3s infinite alternate;
}

#GlobalSpentCounter {
    animation: wobble 3s infinite alternate;
}

@keyframes wobble {
    0% {transform: rotate(10deg);}
    100% {transform: rotate(-10deg);}
}

@keyframes wobbleCases {
    0% {transform: rotate(5deg);}
    100% {transform: rotate(-5deg);}
}

@keyframes wobbleLogo {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(5deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}